<header class='header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("geresuki2", class:"geresuki-icon"), "/" %>
    <%= form_with(url: search_gerendes_path, local: true, method: :get, class: "search-form") do |f|%>
      <%= f.label :gerende, 'ゲレンデ検索',class: "search-title"%>
      <%= f.text_field :keyword,placeholder: "ゲレンデ名や都道府県名", class: "search-text"%>
      <%= f.submit "検索",class: "search-btn"%>
    <% end %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li　class= "category-list" id="lists">
        <button class="header_btn">都道府県</button>
      </li>
        <ul class="show-lists hidden" id="pull-down">
          <li class="pull-down-list"><%= link_to'北海道',search_gerendes_path(:keyword => "北海道")%></li>
          <li class="pull-down-list"><%= link_to'青森',search_gerendes_path(:keyword => "青森")%></li>
          <li class="pull-down-list"><%= link_to'岩手',search_gerendes_path(:keyword => "岩手")%></li>
          <li class="pull-down-list"><%= link_to'宮城',search_gerendes_path(:keyword => "宮城")%></li>
          <li class="pull-down-list"><%= link_to'秋田',search_gerendes_path(:keyword => "秋田")%></li>
          <li class="pull-down-list"><%= link_to'山形',search_gerendes_path(:keyword => "山形")%></li>
          <li class="pull-down-list"><%= link_to'福島',search_gerendes_path(:keyword => "福島")%></li>
          <li class="pull-down-list"><%= link_to'栃木',search_gerendes_path(:keyword => "栃木")%></li>
          <li class="pull-down-list"><%= link_to'群馬',search_gerendes_path(:keyword => "群馬")%></li>
          <li class="pull-down-list"><%= link_to'埼玉',search_gerendes_path(:keyword => "埼玉")%></li>
          <li class="pull-down-list"><%= link_to'神奈川',search_gerendes_path(:keyword => "神奈川")%></li>
          <li class="pull-down-list"><%= link_to'新潟',search_gerendes_path(:keyword => "新潟")%></li>
          <li class="pull-down-list"><%= link_to'富山',search_gerendes_path(:keyword => "富山")%></li>
          <li class="pull-down-list"><%= link_to'石川',search_gerendes_path(:keyword => "石川")%></li>
          <li class="pull-down-list"><%= link_to'福井',search_gerendes_path(:keyword => "福井")%></li>
          <li class="pull-down-list"><%= link_to'山梨',search_gerendes_path(:keyword => "山梨")%></li>
          <li class="pull-down-list"><%= link_to'長野',search_gerendes_path(:keyword => "長野")%></li>
          <li class="pull-down-list"><%= link_to'岐阜',search_gerendes_path(:keyword => "岐阜")%></li>
          <li class="pull-down-list"><%= link_to'静岡',search_gerendes_path(:keyword => "静岡")%></li>
          <li class="pull-down-list"><%= link_to'愛知',search_gerendes_path(:keyword => "愛知")%></li>
          <li class="pull-down-list"><%= link_to'三重',search_gerendes_path(:keyword => "三重")%></li>
          <li class="pull-down-list"><%= link_to'滋賀',search_gerendes_path(:keyword => "滋賀")%></li>
          <li class="pull-down-list"><%= link_to'京都',search_gerendes_path(:keyword => "京都")%></li>
          <li class="pull-down-list"><%= link_to'兵庫',search_gerendes_path(:keyword => "兵庫")%></li>
          <li class="pull-down-list"><%= link_to'奈良',search_gerendes_path(:keyword => "奈良")%></li>
          <li class="pull-down-list"><%= link_to'鳥取',search_gerendes_path(:keyword => "鳥取")%></li>
          <li class="pull-down-list"><%= link_to'島根',search_gerendes_path(:keyword => "島根")%></li>
          <li class="pull-down-list"><%= link_to'岡山',search_gerendes_path(:keyword => "岡山")%></li>
          <li class="pull-down-list"><%= link_to'広島',search_gerendes_path(:keyword => "広島")%></li>
          <li class="pull-down-list"><%= link_to'山口',search_gerendes_path(:keyword => "山口")%></li>
          <li class="pull-down-list"><%= link_to'徳島',search_gerendes_path(:keyword => "徳島")%></li>
          <li class="pull-down-list"><%= link_to'愛媛',search_gerendes_path(:keyword => "愛媛")%></li>
          <li class="pull-down-list"><%= link_to'高知',search_gerendes_path(:keyword => "高知")%></li>
          <li class="pull-down-list"><%= link_to'佐賀',search_gerendes_path(:keyword => "佐賀")%></li>
          <li class="pull-down-list"><%= link_to'大分',search_gerendes_path(:keyword => "大分")%></li>

        </ul>      
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li>
          <%= link_to(edit_user_registration_path(current_user.id), class: "user-nickname") do %>
            <button class=header_btn><%= current_user.nickname %></button>
          <% end %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, method: :delete, class: "logout") do %>
            <button class="header_btn">ログアウト</button>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to(new_user_session_path, class: "login") do %>
            <button class= "header_btn">ログイン</button>
          <% end %>
        </li>
        <li>
          <%= link_to(new_user_registration_path, class: "sign-up") do %>
            <button class= "header_btn">新規登録</button>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>