
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%#= link_to image_tag("#", class:"furima-icon"), "/" %>
     <%= form_with(url: search_gerendes_path, local: true, method: :get, class: "search-form") do |f|%>
      <div class="selection-field">
        <%= f.label :gerende, 'ゲレンデ検索'%>
        <%= f.text_field :keyword, class: "search-form"%>
      </div>
      <%= f.submit "検索",class: "search-btn"%>
    <% end %>
        <%#= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '#', "#", class: "category-list" %></li>
      <li><%= link_to '#', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path(current_user.id), class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>