<%= render "shared/header" %>
<div class='gerende-index'>
  <div>
    <%= image_tag 'geresuki1', class: 'main-image' %>
  </div>
    <h2>ゲレスキとは</h2>
    <div class= "">ゲレスキとは各ゲレンデの「こんなところがスキ！」や「このコースのこんなところ面白い」などを画像や文字で投稿できます！そして、それをみてたくさんのゲレンデに行ってスノーシーズンを楽しむために使ってください！</div>
    <h2><%= link_to 'ゲレンデ一覧',root_path,{:class =>"title"} %></h2>

    <ul class='item-lists'>
    <% @gerendes.each do |gerende|%>
      <li class="list">
        <%= link_to gerende.name, gerende_path(gerende.id),{:class =>"list-text"} %>
      </li>

    <% end %>
  <div class="pagenate"><%= paginate @gerendes, outer_window: 3 %></div>
</div>
<%= render "shared/footer" %>