<%= render "shared/header" %>
<div class='gerende-index'>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag 'geresuki1', class: 'main-image' %></div>
      <div class="swiper-slide"><%= image_tag 'geresuki4', class: 'main-image' %></div>
      <div class="swiper-slide"><%= image_tag 'geresuki5', class: 'main-image' %></div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
    <h2><%= link_to 'ゲレンデ一覧',root_path,{:class =>"title"} %></h2>
    
    <ul class='item-lists'>
    <%if @gerendes.present? %>
    <% @gerendes.each do |gerende|%>
      <li class='list'>
        <%= link_to gerende.name, gerende_path(gerende.id),{:class =>"list-text"} %>
      </li>
    <% end %>
    <% else %>
      検索結果はありません
    <% end %>
</div>
<%= render "shared/footer" %>