<div class='gerende-index'>
    <h2 class='title'><%=link_to 'ゲレンデ一覧',root_path %></h2>
    
    <%= form_with(url: search_gerendes_path, local: true, method: :get, class: "search-form") do |f|%>
      <div class="selection-field">
        <%= f.label :gerende, 'ゲレンデ'%>
        <%= f.text_field :keyword, class: "search-form"%>
      </div>

    <%= f.submit "検索",class: "search-btn"%>
    <% end %>
    <ul class='item-lists'>
    <% @gerendes.each do |gerende|%>
      <li class='list'>
        <%= link_to gerende.name %>
        <%= link_to "(#{gerende.prefecture.name})" %>
      </li>
    <% end %>